@import "colors";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

body,
html {
  font-family: "Poppins", sans-serif;
  background-color: $grigio-chiaro;
}

.logo {
  width: 85px;
  box-shadow: 0px 1px 20px 12px rgb(255 0 0 / 20%);
  margin-left: 20px;
}

#lista-rossa {
  list-style: none;
  color: $rosso;
  width: 70px;
  font-size: x-large;
  text-align: center;
  box-shadow: -6px 6px 6px 4px rgb(255 0 0 / 20%);
  &:hover {
    cursor: pointer;
  }
}
#lista-gialla {
  list-style: none;
  text-align: center;
  color: $giallo;
  width: 70px;
  font-size: x-large;
  box-shadow: -6px 6px 6px 4px rgba(255, 221, 0, 0.2);
  &:hover {
    cursor: pointer;
  }
}

#listaAdd {
  list-style: none;
  font-size: x-large;
  width: 40px;
  &:hover {
    cursor: pointer;
  }
}

$font-weight-bold: 900;

@mixin testoGrassetto($font-weight-bold) {
  font-weight: $font-weight-bold;
}

.bold {
  @include testoGrassetto(900);
}
#para {
  font-size: 300%;
}

.paragrafoo {
  font-weight: 600;
  font-size: xx-large;
  margin-left: 2%;
}

.paragrafoSecondo {
  font-weight: 500;
  font-size: large;
  margin-left: 5%;
}

.spannami {
  color: $grigio;
}
#customRange2 {
  width: 100%;
  height: 15%;
}
input[type="range"]::-webkit-slider-thumb {
  background-color: $giallo;
}
input[type="range"]::-webkit-slider-runnable-track {
  background-color: $nero;
}
:root,
[data-bs-theme="light"] {
  --bs-border-radius: 4.375rem;
}

.card {
  background-color: $giallo;
}
.img-fluid {
  height: 100%;
  object-fit: cover;
}
.bi-suit-heart::before {
  content: "\f59e";
  font-size: xx-large;
}

.rosso {
  color: red;
}
.bianco {
  color: white;
}

.carattereGrande {
  font-size: xx-large;
}
#parte-DX {
  width: 50%;
}
#parte-SX {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#carouselExample {
  transform: rotate(90deg);
}
.mia {
  transform: rotate(-90deg);
  object-fit: cover;
  height: 547px;
}

.misurazioni:hover {
  transform: scale(1.5);
  border: 1px solid black;
  border-radius: 17px;
  padding: 12px;
  background-color: red;
}

#MM {
  animation-name: girotondo;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  color: $giallo;
}

@keyframes girotondo {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(181deg);
  }
}

.misure:hover {
  cursor: pointer;
}

.btn-group {
  border: 2px solid black;
}
